@media (min-width: 992px) {
    .url-bar {
        grid-template-columns: 1fr 50% 1fr;
    }
}

#response {
    white-space: pre-wrap;
}

.trim-pad {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer.trim-pad {
    padding-bottom: 1.5rem;
}