#response {
    white-space: pre-wrap;
}

.err-msg {
    color: var(--del-color);
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    display: flex;
}

footer img {
    padding: 0 5px;
}

.trim-pad {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer.trim-pad {
    padding-bottom: 1.5rem;
}

@media (min-width: 992px) {
    .url-bar {
        grid-template-columns: 1fr 50% 1fr;
    }

    .reset-area {
        grid-template-columns: 75% 1fr;
    }
}